@media only screen and (max-width: 550px) {
    #container {
        width: 280px;
        height: 280px;
    }

    .btnCircle {
        width: 30px;
        height: 30px;
    }

    h1 {
        font-size: 18px;
        margin-top: 20px;
    }

    p {
        font-size: 12px;
    }

    button {
        font-size: 10px;
    }

    #star {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
    }
}